:root {
  --white: #ffffff;
  --white-faded: #edce93;
  --gold: #be973d;
  --gold-faded: #c5a157;
  --black: #242426;
  --black-faded: #725a24;
}

* {
  font-family: 'Josefin Slab', serif;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body,
body > div:first-child {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}
